{%load static%}

<html lang="en">
<head>
    {%block title%}
    {%endblock%}


    {%block meta%}
    {%endblock%}


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">





    {% block cssblock%}
    {%endblock%}
    <link href="{% static 'enroll/css/style.css'%}" rel="stylesheet" media="all">

</head>
<body>

<div class="warpper">
    <section class="ftco-section">
        <div class="wrap">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="mb-0 phone"><span class="fa fa-phone"></span> <a href="#">079 7903 136 (Th.Tôn) | 079
                            4374 992 (Thương)</a></p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main:index' %}">Somename <span>Gia Sư</span></a>
                <!--                <form action="#" class="searchform order-sm-start order-lg-last" >-->
                <!--                    <div class="form-group d-flex" >-->
                <!--                        <input type="text" class="form-control pl-3" placeholder="Search">-->
                <!--                        <button type="submit" placeholder="" class="form-control search"><span-->
                <!--                                class="fa fa-search"></span>-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </form>-->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>

                <div class="order-sm-start order-lg-last">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#"><i class="fa fa-phone"></i> 079 437 4992</a>
                        </li>
                    </ul>

                </div>
                <div class="collapse navbar-collapse" id="ftco-nav">

                    <ul class="navbar-nav m-auto">
                        <li class="nav-item {{a}}"><a href="{%url 'main:index'%}" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown {{b}}">
                            <a class="nav-link dropdown-toggle" href="{%url 'class:display_class'%}" id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Lớp học</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                 <a class="dropdown-item" href="{%url 'class:display_class'%}">Lớp hiện có</a>

                            </div>
                        </li>
                        <li class="nav-item {{c}}"><a href="{%url 'enroll:enroll'%}" class="nav-link">Đăng kí học</a>
                        </li>
                        <li class="nav-item {{d}}"><a href="#" class="nav-link">Tin Tức</a></li>
                        <li class="nav-item {{e}}"><a href="#" class="nav-link">Liên Hệ</a></li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- END nav -->
    </section>
    <div class="container">
        <div class="row">
        <div class="col-10">


            {% block content%}
            {%endblock%}
            {% block content_class%}
            {%endblock%}
        </div>
        <div class="col">

        </div>


    </div>
    </div>

</div>
{%include 'homepage/footer.html'%}
<script src="{% static 'enroll/js/jquery.min.js' %}"></script>

<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.min.js'%}"></script>
<script src="{% static 'enroll/vendor/jquery/jquery.min.js'%}"></script>
<!-- Main JS-->
<script src="{%static 'enroll/js/global.js'%}"></script>
<script src="{%static 'enroll/js/main.js'%}"></script>
{% block jsblock%}
{%endblock%}
</body>
</html>